<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Add Crime</title>
<head th:replace="fragments :: header_fragment"/>
<body>
<div th:replace="fragments :: menu_fragment"/>
<div class="container">
    <h2>Add crime</h2>
    <hr/>
    <form method="POST" th:action="@{/saveCrime}" th:object="${crime}">
        <input class="form-control col-4 mb-4" placeholder="Enter name" th:field="*{name}" type="text"/>
        <label class="col-form-label col-sm-4">Category: </label>
        <div class="col-sm-8">
            <select class="form-control" th:field="*{category}">
                <th:block th:each="category: ${listCategories}">
                    <option selected th:value="0"></option>
                    <option th:text="${category.name}" th:value="${category.id}">
                </th:block>
            </select>
        </div>

        <label class="col-form-label col-sm-4">Address: </label>
        <div class="col-sm-8">
            <select class="form-control" th:field="*{address}">
                <option selected th:value="0"></option>
                <option th:each="address: ${listAddresses}"
                        th:text="${address.streetAddress + ', ' + address.zipCode + ', ' + address.city}"
                        th:value="${address.id}"></option>
            </select>
        </div>

        <label class="col-form-label col-sm-4">Criminals: </label>
        <div class="col-sm-8">
            <select class="form-control" th:field="*{criminals}">
                <option selected th:value="0"></option>
                <option th:each="criminal: ${listCriminals}" th:text="${criminal.firstName + ' ' + criminal.lastName}"
                        th:value="${criminal.id}"></option>
            </select>
        </div>

        <label class="col-form-label col-sm-4">Victims: </label>
        <div class="col-sm-8">
            <select class="form-control" th:field="*{victims}">
                <option selected th:value="0"></option>
                <option th:each="victim: ${listVictims}" th:text="${victim.firstName + ' ' + victim.lastName}"
                        th:value="${victim.id}"></option>
            </select>
        </div>

        <label class="col-form-label col-sm-4">Time: </label>
        <div class="col-sm-8">
            <input class="form-control col-4 mb-4" th:field="${crime.time}" type="datetime-local"/>
        </div>

        <div class="col-sm-8">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
        <input th:field="*{id}" type="hidden"/>
    </form>
</div>
</body>
</html>
