<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Add Category</title>
<head th:replace="fragments :: header_fragment"/>
<body>
<div th:replace="fragments :: menu_fragment"/>
<div class="container">
    <h2>Add category</h2>
    <hr/>
    <form method="POST" th:action="@{/saveCategory}" th:object="${category}">
        <input class="form-control col-4 mb-4" placeholder="Enter name" th:field="*{name}" type="text"/>
        <button class="btn btn-primary" type="submit">Save</button>
        <input th:field="*{id}" type="hidden"/>
    </form>
</div>
</body>
</html>
