<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Add Victim</title>
<head th:replace="fragments :: header_fragment"/>
<body>
<div th:replace="fragments :: menu_fragment"/>
<div class="container">
    <h2>Add victim</h2>
    <form method="POST" th:action="@{/saveVictim}" th:object="${victim}">
        <div class="col-sm-8">
            <input type="text" th:field="*{firstName}" placeholder="Enter firstname" class="form-control col-4 mb-4"/>
            <input class="form-control col-4 mb-4" placeholder="Enter lastname" th:field="*{lastName}" type="text"/>
        </div>
        <div>
            <label class="col-form-label col-sm-4">Date of birth:</label>
                <input th:field="${victim.dateOfBirth}" type="date"/>
        </div>
        <label class="col-form-label col-sm-4">Address: </label>
        <div class="col-sm-8">
            <select class="form-control col-4 mb-4" th:field="*{address}">
                <option selected th:value="0"></option>
                <option th:each="address: ${listAddresses}" th:text="${address.streetAddress + ', ' + address.zipCode +
                  ', ' + address.city}" th:value="${address.id}">
                </option>
            </select>
        </div>
        <div class="col-sm-8">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
        <input th:field="*{id}" type="hidden"/>
    </form>
</div>
</body>
</html>