<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<title>Home</title>
<head th:replace="fragments :: header_fragment"/>
<body>
<div th:replace="fragments :: menu_fragment"/>
<div class="p-3 mb-2 bg-dark text-white">
    <div class="row">
        <div class="col">
            <h1 style="text-align:center">Crime database</h1>
        </div>
    </div>
</div>
<div class="card-group">
    <img class="rounded mx-auto d-block" src="images/police.png"/>
    <div class="card">
        <div class="card-body">
            <img class="card-img-top" src="images/category.png">
            <h4 class="card-title">Categories</h4>
            <p class="card-text">Here you can handle different crime categories</p>
            <a class="btn btn-primary" th:href="@{/categories}">Category</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <img class="card-img-top" src="images/crime.png">
            <h4 class="card-title">Crimes</h4>
            <p class="card-text">Here you can handle crimes and modify victims, criminals and address</p>
            <a class="btn btn-primary" th:href="@{/crimes}">Crime</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <img class="card-img-top" src="images/criminal.png">
            <h5 class="card-title">Criminals</h5>
            <p class="card-text">Here you can handle criminals and modify first and lastname, birthdate and crimes </p>
            <a class="btn btn-primary" th:href="@{/criminals}">Criminal</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <img class="card-img-top" src="images/victim.png">
            <h5 class="card-title">Victims</h5>
            <p class="card-text">Here you can handle victims and modify first and lastname, birthdate, addresses and
                crimes</p>
            <a class="btn btn-primary" th:href="@{/victims}">Victim</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <img class="card-img-top" src="images/address.png">
            <h5 class="card-title">Addresses</h5>
            <p class="card-text">Here you can handle addresses and change city, zipcode and street address</p>
            <a class="btn btn-primary" th:href="@{/addresses}">Address</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <img class="card-img-top" src="images/user.png">
            <h5 class="card-title">Users</h5>
            <p class="card-text">Here you see all users</p>
            <a class="btn btn-primary" th:href="@{/users}">User</a>
        </div>
    </div>
</div>
</div>
</body>
</html>
