<!DOCTYPE html>
        <html xmlns:th="https://www.thymeleaf.org">
            <head>
                <title>CrimeDatabase</title>
                <link rel="stylesheet"
                type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.11.5/datatables.min.css"/>
                <link rel="stylesheet"
                href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
                integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                crossorigin="anonymous">
            </head>
            <body>
            <div class="p-3 mb-2 bg-dark text-white">
                <div class="row">
                    <div class="col">
                    <h1 style="text-align:center">Crime database</h1>
                </div>
            </div>
        </div>
        <div class="card-group">
        <img src="images/police.png" class="rounded mx-auto d-block"/>
            <div class="card">
                <div class="card-body">
                     <img src="images/category.png" class="card-img-top">
                        <h4 class="card-title">Categories</h4>
                        <p class="card-text">Here you can handle different crime categories</p>
                        <a th:href="@{/categories}" class="btn btn-primary">Category</a>
                </div>
            </div>
        <div class="card">
             <div class="card-body">
                 <img src="images/crime.png" class="card-img-top">
                <h4 class="card-title">Crimes</h4>
                <p class="card-text">Here you can handle crimes and modify victims, criminals and address</p>
                 <a th:href="@{/crimes}" class="btn btn-primary">Crime</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
             <img src="images/criminal.png" class="card-img-top">
             <h5 class="card-title">Criminals</h5>
             <p class="card-text">Here you can handle criminals and modify first and lastname, birthdate and crimes </p>
             <a th:href="@{/criminals}" class="btn btn-primary">Criminal</a>
         </div>
        </div>
        <div class="card">
            <div class="card-body">
               <img src="images/victim.png" class="card-img-top">
               <h5 class="card-title">Victims</h5>
               <p class="card-text">Here you can handle victims and modify first and lastname, birthdate, addresses and crimes</p>
               <a th:href="@{/victims}" class="btn btn-primary">Victim</a>
            </div>
        </div>
        <div class="card">
             <div class="card-body">
               <img src="images/address.png" class="card-img-top">
               <h5 class="card-title">Addresses</h5>
               <p class="card-text">Here you can handle addresses and change city, zipcode and street address</p>
               <a th:href="@{/addresses}" class="btn btn-primary">Address</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
              <img src="images/user.png" class="card-img-top">
              <h5 class="card-title">Users</h5>
              <p class="card-text">Here you see all users</p>
              <a th:href="@{/users}" class="btn btn-primary">User</a>
         </div>
       </div>
    </div>
   </div>
  </body>
</html>
