<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Criminals</title>
<head th:replace="fragments :: header_fragment"/>
<body>
<div class="container">
    <h2>Show criminals</h2>
    <hr/>
    <a th:href="@{/addCriminalForm}" class="btn btn-primary mb-2"> Add a new criminal</a>
    <table class="table table-bordered table-striped" id="category-table">
        <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
                    <th>Date of birth</th>
                    <th>Location</th>
                    <th>Crimes involved in</th>
                    <th>Actions</th>
                </tr>
            </thead>
                <tbody>
                    <tr th:each="criminal: ${criminals}">
                        <td th:text="${criminal.firstName}"></td>
                        <td th:text="${criminal.lastName}"></td>
                        <td th:text="${criminal.dateOfBirth}"></td>
                        <td th:text="${criminal.address}"></td>
                        <td th:text="${criminal.crimes}"></td>
                        <td>
                            <a th:href="@{/criminalUpdateForm(id=${criminal.id})}" class="btn btn-info">Update</a>
                            <a th:href="@{/deleteCriminal(id=${criminal.id})}" class="btn btn-danger ml-2">Delete</a>
                         </td>
                    </tr>
                </tbody>
        </table>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.5/datatables.min.js"></script>
        <script>
        $(document).ready(function(){
        $("#category-table").DataTable();
        })
        </script>
    </body>
</html>