<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Addresses</title>
<head th:replace="fragments :: header_fragment"/>
<body>
<div th:replace="fragments :: menu_fragment"/>
<div class="container">
    <h2>Show addresses</h2>
    <hr/>
    <a class="btn btn-primary mb-2" th:href="@{/addAddressesForm}">Add a new address</a>
    <table class="table table-bordered table-striped" id="address-table">
        <thead>
          <tr>
              <th>Street Address</th>
              <th>Zipcode</th>
              <th>City</th>
              <th>Actions</th>
          </tr>
            </thead>
                <tbody>
                    <tr th:each="address: ${addresses}">
                        <td th:text="${address.streetAddress}"></td>
                        <td th:text="${address.zipCode}"></td>
                        <td th:text="${address.city}"></td>
                        <td>
                            <a th:href="@{/addressesUpdateForm(id=${address.id})}" class="btn btn-info">Update</a>
                            <a th:href="@{/deleteAddress(id=${address.id})}" class="btn btn-danger ml-2">Delete</a>
                        </td>
                    </tr>
                </tbody>
        </table>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.5/datatables.min.js"></script>
        <script>
        $(document).ready(function(){
        $("#address-table").DataTable();
        })
        </script>
    </body>
</html>