<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Crimes</title>
<head th:replace="fragments :: header_fragment"/>
<body>
<div th:replace="fragments :: menu_fragment"/>
<div class="container">
    <h2>Show crimes</h2>
    <hr/>
    <a class="btn btn-primary mb-2" th:href="@{/addCrimeForm}">Add a new crime</a>
    <table class="table table-bordered table-striped" id="category-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
                    <th>Location</th>
                    <th>Time</th>
                    <th>Criminals</th>
                    <th>Victims</th>
                </tr>
            </thead>
                <tbody>
                <tr th:each="crime: ${crimes}">
                    <td th:text="${crime.name}"></td>
                    <td th:text="${crime.category}"></td>
                    <td th:text="${crime.address}"></td>
                    <td th:text="${#temporals.format(crime.time, 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:text="${crime.criminals}"></td>
                    <td th:text="${crime.victims}"></td>
                    <td>
                        <a th:href="@{/crimeUpdateForm(id=${crime.id})}" class="btn btn-info">Update</a>
                        <a th:href="@{/deleteCrime(id=${crime.id})}" class="btn btn-danger ml-2">Delete</a>
                    </td>
                </tr>
                </tbody>
        </table>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.5/datatables.min.js"></script>
        <script>
        $(document).ready(function(){
        $("#category-table").DataTable();
        })
        </script>
    </body>
</html>
