<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Categories</title>
<head th:replace="fragments :: header_fragment"/>
<body>
<div class="container">
    <h2>Show categories</h2>
    <hr/>
    <a th:href="@{/addCategoryForm}" class="btn btn-primary mb-2"> Add a new category</a>
    <table class="table table-bordered table-striped" id="category-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
                </tr>
            </thead>
                <tbody>
                    <tr th:each="category: ${category}">
                        <td th:text="${category.name}"></td>
                        <td>
                            <a th:href="@{/categoriesUpdateForm(id=${category.id})}" class="btn btn-info">Update</a>
                            <a th:href="@{/deleteCategory(id=${category.id})}" class="btn btn-danger ml-2">Delete</a>
                         </td>
                    </tr>
                </tbody>
        </table>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.5/datatables.min.js"></script>
        <script>
        $(document).ready(function(){
        $("#category-table").DataTable();
        })
        </script>
    </body>
</html>
