<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show addresses </title>
    <link rel="stylesheet"
          type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.11.5/datatables.min.css"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
    <body>
    <div class="container">
                <h2>Users cannot be modified from here</h2>
                    <table class="table table-bordered table-striped" id="user-table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Role</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr th:each="user: ${users}">
                            <td th:text="${user.username}"></td>
                            <td th:text="${user.password}"></td>
                            <td th:text="${user.role}"></td>
                        </tr>
                    </tbody>
            </table>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.5/datatables.min.js"></script>
            <script>
            $(document).ready(function(){
            $("#user-table").DataTable();
            })
            </script>
    </body>
</html>