<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Login</title>
<head th:replace="fragments :: header_fragment"/>
<body>
<div class="container-fluid text-center">
    <div>
        <img th:src="@{/images/logo.png}"/>
    </div>
    <div th:if="${param.error}">
        <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
    </div>
    <form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto;">
        <div class="border border-secondary p-3 rounded">
            <p>Login to access the crime database</p>
            <p>
                <input autofocus class="form-control" name="username" placeholder="Enter username" required
                       type="username"/>
            </p>

            <p>
                <input class="form-control" name="password" placeholder="Enter password" required type="password"/>
            </p>

            <p>
                <input class="btn btn-primary" type="submit" value="Login"/>
            </p>
        </div>
    </form>
</body>
</html>
